body {
  font-family: 'Montserrat', sans-serif;
}

body::before {
  display: block;
  content: "";
  height: 60px;
}

/* section::before {
  content: "";
  display: block;
  padding-top: 100px;
  margin-top: -100px 0 0;
} */

section {
  scroll-margin-top: 60px;
}

.bg-gray-8 {
  background-color: #1a1b1d!important;
}

.bg-gray-7 {
  background-color: #202122!important;
}



ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  line-height: 180%;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  height: 100%;
}

li:nth-child(even){
  color: #e9ecef;
}

li:nth-child(odd){
  color: #6c757d;
}
  
.item{
  text-align:center;
}

.carousel-inner img{
  display:inline-block  !important;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-bar-brand a:hover {
  text-decoration: none;
}